.catalog {
  position: relative;

  &::before {
    content: "";
    background-image: url("../../img/catalog-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 119px;
    height: 1208px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.catalog__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.catalog__list {
  max-width: 1170px;
  margin: 0 auto;
}

.catalog__catalog-nav {
  margin-bottom: 64px;
}

.catalog--nojs {
  .catalog__catalog-nav {
    position: sticky;
    top: 0;
    z-index: 10;

    padding-top: 20px;

    background-color: $basic-white;
  }

  .catalog__item {
    display: grid;
    min-height: 635px;
  }

  @media (max-width: $tablet-width) {
    .catalog__catalog-nav {
      position: absolute;
      top: auto;
    }

    .catalog__item {
      position: relative;
      min-height: auto;
    }
  }
}
