.countries__wrapper {
  max-width: 1170px;
  margin: 0 auto;
}
.countries__heading {
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  margin: 0 0 63px 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -32px;
    width: 228px;
    height: 3px;
    background-color: $basic-accent;
  }
}

.countries__description {
  line-height: 28px;
  letter-spacing: -0.466667px;
  margin: 0 0 54px 0;
}

.countries__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countries__item {
  margin-right: 60px;
  margin-bottom: 100px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:last-child {
    margin-left: 60px;
    margin-right: 0;
  }
}
