.intro {
  background-color: $background-intro;
  background-image: url(".././img/intro-background-desktop.jpg"), url(".././img/intro-background-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 202px;

  @media(max-width: $desktop-width) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-resolution: 2dppx) {
    background-image: url(".././img/intro-background-desktop@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    background-image: url(".././img/intro-background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url(".././img/intro-background-tablet@2x.jpg");
    }
  }
}

.intro__wrapper {
  min-height: 860px;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 59.9% 32.6% 7.5%;

  @media(max-width: $desktop-width) {
    grid-template-rows: 1fr 9fr;
    grid-template-columns: none;
    min-height: 344px;
  }
}

.intro__content {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 186px;

  @media(max-width: $desktop-width) {
    padding-top: 0;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.intro__heading {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: $basic-white;
  letter-spacing: -1.10667px;
  margin: 0 0 28px 0;
}

.intro__description {
  color: $basic-white;
  margin: 0 0 33px 0;
  line-height: 27.2px;
  letter-spacing: -0.466667px;
}

.intro__button {
  max-width: 340px;
}
