.main-nav__list {
  display: flex;
}

.main-nav__link {
  text-decoration: none;
  color: $basic-dark-deep;
}

.main-nav__item {
  &:first-child {
    margin-right: 39px;
  }

  &:nth-child(2) {
    margin-right: 72px;
  }
}
