.main-nav__list {
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 132px;

    width: 100%;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $basic-dark-deep;
  font-weight: 500;
  font-size: 14px;

  &:hover {
    color: $basic-accent;
  }
}

.main-nav__item {
  &:first-child {
    margin-right: 37px;
  }

  &:nth-child(2) {
    margin-right: 72px;
  }
}
