.page-body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $basic-dark;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
  box-sizing: border-box;

  @media (max-width: $desktop-width) {
    max-width: 768px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
    margin: 0 auto;
  }
}

.page-body--no-scroll {
  overflow-y: hidden;
  padding-right: 17px;

  @media (max-width: $mobile-width-only) {
    padding-right: 0;
  }
}
