.page-header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  margin-bottom: 31px;
}

.page-header--active {
  @media (max-width: $tablet-width) {
    .page-header__main-nav {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;

      display: flex;
      max-width: 100%;
      width: 100%;
      min-height: 405px;

      background-color: $basic-white;
    }
  }

  @media (max-width: $mobile-width-only) {
    .page-header__main-nav {
      min-height: 568px;
    }
  }
}

.page-header__wrapper {
  max-width: 493px;
  display: flex;
}

.page-header--nojs {
  @media (max-width: $tablet-width) {
    .page-header__logo {
      z-index: 11;
    }

    .page-header__contacts {
      z-index: 11;
      display: block;
      margin-left: 0;
      padding-right: 0;
      max-width: 100%;
    }

    .page-header__toggle {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    .page-header__logo {
      margin-left: auto;
      margin-right: auto;
    }

    .page-header__contacts {
      display: none;
    }
  }
}

.page-header__main-nav {

  @media (max-width: $tablet-width) {
    display: none;
  }
}
