.price__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 65.813% 1fr;
}

.price__content {
  max-width: 310px;
  justify-self: end;
  align-self: center;
  padding-top: 17px;
}

.price__heading {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  margin: 0 0 47px 0;
  padding-left: 4px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: -17px;
    width: 175px;
    height: 3px;
    background-color: $basic-accent;
  }
}

.price__description {
  margin: 0 0 60px 0;
  line-height: 170%;
  color: rgba($basic-dark, 0.7);
  padding-left: 4px;
}

.price__call-to-action {
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $basic-dark-deep;
  padding-left: 50px;
  margin-bottom: 13px;
}

.price__phone {
  font-size: 20px;
  line-height: 32px;
  color: $basic-black;
  display: flex;
  text-decoration: none;

  &:hover {
    color: $basic-accent;
  }
}

.price__phone-icon {
  margin-right: 20px;
}

.price__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  grid-gap: 3.8971%;
}
