.review {
  max-width: 382px;
  background-color: $basic-white;
  padding: 30px 30px 0 30px;
  box-sizing: border-box;

  &--greece {
    min-height: 367px;
  }

  &--albania {
    min-height: 314px;
  }

  &--macedonia {
    min-height: 367px;
  }

  &--montenegro {
    min-height: 285px;
  }

  &--croatia {
    min-height: 367px;
  }
}

.review__heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.691667px;
  margin: 0 0 33px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    bottom: -12px;
    width: 68px;
    height: 1px;
    background-color: $basic-accent;
  }
}

.review__content {
  margin: 0;
}

.review__text {
  margin: 0 0 30px 0;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px;
}
