.tour-card {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 40.2% 36.8% 23%;
}

.tour-card__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  margin: 0 0 48px 0;
  padding-top: 11px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 175px;
    height: 3px;
    background-color: $basic-accent;
  }
}

.tour-card__description {
  margin: 0;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba($basic-dark, 0.7);
  padding-right: 100px;
  margin-bottom: 48px;
}

.tour-card__button {
  box-sizing: border-box;
  padding: 31px 0 30px 3px;
}

.tour-card__image-wrapper {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.tour-card__image {
  display: block;
}

.tour-card__review {
  align-self: center;
  justify-self: end;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}
