// ----- Colors
$basic-black: #000000;
$basic-white: #FFFFFF;
$basic-dark: #2C2E3F;
$basic-dark-deep: #141517;
$basic-accent: #FE7865;
$basic-accent-active: #F17D4B;
$basic-grey-light: #FBF8F8;

// ----- Adaptive
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
